// colors
$primary:rgb(242, 110, 110);
$secondary:#201c1c;
$alternative:rgb(245, 239, 239);
// main-font
$font-principal:'Montserrat', sans-serif;
$font-sizeprincipal:40px;
// footer
$colorfooter:#201c1c;



